{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% include "main/header.html" %}

<div id="homepage-1"> 
        <div class="ps-home-banner ps-home-banner--1">
            <div class="ps-container">
                <div class="ps-section">
                    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
                        <div class="ps-banner"><a href="#"><img src="{% static 'main/img/slider/home-1/frati13.gif' %}" alt=""></a></div>
                        <div class="ps-banner"><a href="#"><img src="{% static 'main/img/slider/home-1/frati13.gif' %}" alt=""></a></div>
                        <div class="ps-banner"><a href="#"><img src="{% static 'main/img/slider/home-1/frati13.gif' %}" alt=""></a></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>





            <style type="text/css">
                .accordion-item{
                    background-color: #9a0052;
                    border-right: 0.4rem;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    box-shadow: .5rem 2px .5rem rgba(0,0,0, .1)
                }
                .accordion-link{
                    font-size: 1.6rem;
                    color: #fff;
                    text-decoration: none;
                    background-color: #9a0052;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 0;
                }
                .accordion-link i{
                    color: #e7d5ff;
                    padding: .5rem;
                }
                .accordion-link .icon-minus{
                    display: none;
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    position: relative;
                    background-color: #eaeaea;
                    transition: max-height 650ms;
                }
                .answer:before{
                    content: "";
                    position: absolute;
                    width: .6rem;
                    height: 90%;
                    background-color: #000000;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                .answer p{
                    color: #fff;
                    font-size: 1.4rem;
                     padding: 2rem;
                }
                .accordion-item:target .answer{
                    max-height: 100%;
                }
                .accordion-item:target .accordion-link .icon-plus{
                    display: none;
                }
                .accordion-item:target .accordion-link .icon-minus{
                    display: block;
                }
            </style>

            <div class="ps-container">
                <div class="accordion">
                    <div class="accordion-item" id="question1">
                        <a class="accordion-link" href="#question1">
                            Resources For You
                           <i class="icon-plus"></i>
                           <i class="icon-minus"></i>
                        </a>
                        <div class="answer">
                            <p><div class="row xps-block--payment-method col-lg-12" style="margin: auto;">
                    {% for item in study_resources %}
                    <div class="contact-item col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 ">
                        <div style="background-color: #fff" class="ps-block--category contact-item-inner outer-shadow inner-shadow hover-in-shadow"><a class="ps-block__overlay" href="{% url 'study_resource:resource_detail' item.slug %}"></a><img  style="height: 100px; width: 180; " src="{% static 'main/img/Rb726b85a8621f4b7f0f50b5e8d25c01a.png' %}" alt="">
                            <h5>{{ item.title }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                           
                        </div>
                    </div>
                    <div class="accordion-item" id="question2">
                        <a class="accordion-link" href="#question2">
                            Contents for You
                           <i class="icon-plus"></i>
                           <i class="icon-minus"></i>
                        </a>
                        <div class="answer">
                            <p><div class="row ps-block--payment-methodx col-lg-12" style="margin: auto;">
                                            {% for item in contents %}

                                            <div class="contact-item col-xl-6 col-lg-12  " style="text-align: center; margin-bottom: 10px">
                                                <a href="https://{{ item.link }}" style="text-align: left;">
                                                    <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                                        <div style="margin: auto; background-color: #fff; justify-content: space-between;" class="ps-product__thumbnail">{{ item.content|truncatewords:50 }}  ..continue reading
                                
                                                            
                                                        </div>
                                                        <h5>by {{ item.contributor }}</h5>
                                                        <br>
                                                    </div>
                                                </a>
                                                </div>
                                                

                                            {% endfor %}
                                        </div></p>
                           
                        </div>
                    </div>

                     <div class="accordion-item" id="question3">
                        <a class="accordion-link" href="#question3">
                            Videos For You
                           <i class="icon-plus"></i>
                           <i class="icon-minus"></i>
                        </a>
                        <div class="answer">
                            <p><div class="row ps-block--payment-methodx col-lg-12" style="margin: auto;">
                                            {% for item in videos %}

                                    <div class="contact-item col-xl-4 col-lg-12" style="text-align: center;">
                                            <div class="ps-productX ">
                                                <div class="ps-product__thumbnail" style="margin: auto;"><a href="{{ item.video.url }}"><video width="320" height="157" controls><source src="{{ item.video.url }}" type="video/mp4"></video> </a></div>
                                         </div>         
                                        </div>

                                     {% endfor %}
                                        </div></p>
                           
                        </div>
                    </div>

                     <div class="accordion-item" id="question4">
                        <a class="accordion-link" href="#question4">
                            Ebooks for You
                           <i class="icon-plus"></i>
                           <i class="icon-minus"></i>
                        </a>
                        <div class="answer">
                            <p><div class="row ps-block--payment-methodx col-lg-12" style="margin: auto;">
                                            {% for item in ebooks %}

                                        <div class="contact-item col-xl-3 col-lg-3  ">
                                            <div style="background-color: #fff" class="ps-block--category contact-item-inner outer-shadow inner-shadow hover-in-shadow"><a class="ps-block__overlay" href="{{ item.ebook.url }}"></a><img  style="height: 100px; width: 180; " src="{% static 'main/img/5aa3ae359fc609199d0ff247.png' %}" alt="">
                                                <h5>{{ study_resource.title }} ebook by {{ item.contributor }}</h5>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        </div></p>
                           
                        </div>
                    </div>
                     <div class="accordion-item" id="question5">
                        <a class="accordion-link" href="#question5">
                            Links For You
                           <i class="icon-plus"></i>
                           <i class="icon-minus"></i>
                        </a>
                        <div class="answer">
                            <p><div class="row ps-block--payment-methodx col-lg-12" style="margin: auto;">
                                            {% for item in links %}

                                        <div class="contact-item col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 " style="text-align: center;">
                        
                                                <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                        <div style="margin: auto; background-color: #fff" class="ps-product__thumbnail"><a href="https://{{ item.link }}">{{ item.link }}
                                
                                        <h5>by {{ item.contributor }}</h5>
                                        </a>
                                        </div>
                                        </div>
                                    </div>


                                    {% endfor %}
                                        </div></p>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        
 
{% endblock %}
