{% extends 'main/base.html' %}


{% load static %}
      

{% block content %}

{% include "main/header.html" %}

<style type="text/css">
    .ps-btn{
        background-color: #9a0052 !important;
        color: #fff;
        transition: 0.25s;
    }
    a .ps-btn:hover{
        background-color: #ed017f !important;
   		color: black;
   		transition: 0.25s;
    }
	.pagination .active a{
        background-color: #9a0052 !important;
        color: #fff !important;
    }
    .pagination a:hover{
       	background-color: #9a0052 !important;
        color: #fff !important;
    }
    .img-video {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #d1002c;
          -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
          position: absolute;
          bottom: 10%;
          right: 35%;
          margin-right: -30px; }
    
</style>

<div class="ps-page--single ps-page--vendor">
        <section class="ps-store-list">
            <div class="container">
                <aside class="ps-block--store-banner">
                    <div class="ps-block__content bg--cover" data-background="{% static 'main/img/slider/home-1/frati13.gif' %}">
                        <h4 style="color:#fff">{{ study_resource.title }}</h4><a class="ps-block__inquiry" href="{% url 'study_resource:contribute_chat' study_resource.id %}"><i class="icon-chat"></i> Join Forum</a>
                    </div>
                    <div class="ps-block__user" style="background-color: #9a0052 !important;">
                        <div class="ps-block__user-avatar"><img src="{% static 'main/img/5.jpg' %}" alt="">
                            <p>Author</p>

                        </div>
                        
                        
                    </div>
                </aside>
                <div class="ps-section__wrapper">
                    <div class="ps-section__left">
                        <aside class="widget widget--vendor">
                            <h3 class="widget-title">Product Search</h3>
                            <div class="form-group--icon">
                                <input class="form-control" type="text" placeholder="Search..."><i class="icon-magnifier"></i>
                            </div>
                        </aside>
                        <aside class="widget widget--vendor">
                            <h3 class="widget-title">How to Use</h3>

                                

                        </aside>
                        <aside class="widget widget--vendor widget--open-time">
                            <h3 class="widget-title"><i class="icon-clock3"></i> Store Hours</h3>
                            <ul>
                                <li><strong>Monday:</strong><span>8:00 am - 6:00 pm</span></li>
                                <li><strong>Monday:</strong><span>8:00 am - 6:00 pm</span></li>
                                <li><strong>Monday:</strong><span>8:00 am - 6:00 pm</span></li>
                                <li><strong>Monday:</strong><span>8:00 am - 6:00 pm</span></li>
                                <li><strong>Monday:</strong><span>8:00 am - 6:00 pm</span></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="ps-section__right">
                        <nav class="ps-store-link">
                            <ul>
                                <li><a href="store-detail.html" style="color: #ed017f">Conservations: ({{ study_resource.chats.count }})</a></li>

                                <li><a style="color: #ed017f">Ebooks: ({{ study_resource.ebooks.count }})</a></li>
                                <li><a style="color: #ed017f">Contents: ({{ study_resource.contents.count }})</a></li>
                                <li><a style="color: #ed017f">videos: ({{ study_resource.videos.count }})</a></li>
                                <li><a style="color: #ed017f">links: ({{ study_resource.links.count }})</a></li>
                                <li><a style="color: #ed017f">image: ({{ study_resource.images.count }})</a></li>
                                
                            </ul>
                        </nav>


            <div class="ps-page__container">
                <div class="">
                    <div class="ps-product--detail ps-product--fullwidth">
                        
                        <div class="ps-product__contentx ps-tab-rootx"  >
                            <ul class="ps-tab-list ">
                                <li class="active"><a href="#tab-1">Contents</a></li>
                                <li><a href="#tab-2">Videos</a></li>
                                <li><a href="#tab-3">Ebooks</a></li>
                                <li><a href="#tab-4">Links</a></li>
                                <li><a href="#tab-6">Images</a></li>
                            
                            </ul>

                            <div class="ps-tabs">
                                <div class="ps-tab active" id="tab-1">
                                    <div class="ps-document">
                                        <div class="ps-top-categories">

                                        <div class="section-title ps-block--payment-method">
                                            <h2 style="margin: 15px" data-heading="Important Content"></h2>
                                        </div>
                                        <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                            {% for item in study_resource.contents.all %}

                                            <div class="contact-item col-xl-6 col-lg-12  " style="text-align: center; margin-bottom: 10px">
                                                <a href="{{ item.link }">
                                                    <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                                        <div style="margin: auto; background-color: #fff; justify-content: space-between;" class="ps-product__thumbnail"><a href="https://{{ item.link }}" style="text-align: left;">{{ item.content|truncatewords:50 }}  ..continue reading</a>
                                
                                
                                                        </div>
                                                        <p>by {{ item.contributor }}</p>
                                                    </div>
                                                </div>
                                                </a>

                                            {% endfor %}
                                        </div>
                                 </div>
                     
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_content' study_resource.id %}"><button class="ps-btn">Contribute to these images</button></a>
                                        
                                    </div>
                                    <br><br>
                                    </div>
                                </div>
                                <div class="ps-tab" id="tab-2">

                                <div class="section-title ps-block--payment-method">
                                    <h2 style="margin: 15px" data-heading="Education Videos"></h2>
                                </div>
                                <div class="row ps-block--payment-methodx col-lg-12">
                                    {% for item in study_resource.videos.all %}

                                    <div class="contact-item col-xl-4 col-lg-12" style="text-align: center;">
                                            <div class="ps-productX ">
                                                <div class="ps-product__thumbnail" style="margin: auto;"><a href="{{ item.video.url }}"><video width="320" height="157" controls><source src="{{ item.video.url }}" type="video/mp4"></video> </a></div>
                                         </div>         
                                        </div>

                                     {% endfor %}
                                </div>
                                <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_video' study_resource.id %}"><button class="ps-btn">Contribute to these Videos</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>
                                <div class="ps-tab" id="tab-3">
                                    <div class="section-title ps-block--payment-method">
                                        <h2 style="margin: 15px" data-heading="Ebooks on Demand"></h2>
                                    </div>
                                    <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                        {% for item in study_resource.ebooks.all %}

                                        <div class="contact-item col-xl-4 col-lg-4  ">
                                            <div style="background-color: #fff" class="ps-block--category contact-item-inner outer-shadow inner-shadow hover-in-shadow"><a class="ps-block__overlay" href="{{ item.ebook.url }}"></a><img  style="height: 100px; width: 180; " src="{% static 'main/img/5aa3ae359fc609199d0ff247.png' %}" alt="">
                                                <p>{{ study_resource.title }} ebook by {{ item.contributor }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_ebook' study_resource.id %}"><button class="ps-btn">Contribute to these Ebooks</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>

                                <div class="ps-tab" id="tab-4">
                                    <div class="ps-top-categories">
                                    <div class="section-title ps-block--payment-method">
                                        <h2 style="margin: 15px" data-heading="Important Links"></h2>
                                    </div>
                                    <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                        {% for item in study_resource.links.all %}

                                        <div class="contact-item col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 " style="text-align: center;">
                        
                                                <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                        <div style="margin: auto; background-color: #fff" class="ps-product__thumbnail"><a href="https://{{ item.link }}">{{ item.link }}
                                
                                        <p>by {{ item.contributor }}</p>
                                        </a>
                                        </div>
                                        </div>
                                    </div>


                                    {% endfor %}
                                        </div>
                                    </div>
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_link' study_resource.id %}"><button class="ps-btn">Contribute to these Link</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>
                                        




                                <div class="ps-tab active" id="tab-6">
                                    <div class="ps-section__content" style="background-color: #f5f5f5;">
                            <div class="row">
                                {% for item in study_resource.images.all %}
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 " style="margin: 15px">
                                    <div class="ps-block--category-room ps-product__gallery" data-arrow="true">
                                        <div class="ps-block__thumbnail item"><a href="{{ item.image.url }}"><img src="{{ item.image.url }}" alt="resource image"></a></div>
                                    <div class="ps-block__content"><a href="#">Image by {{ item.contributor }}</a></div>


                                </div>

                            </div>
                                {% endfor %}
                            </div>
                        
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_image' study_resource.id %}"><button class="ps-btn">Contribute to these images</button></a>
                                        
                                    </div>
                                    <br><br>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            
{% endblock %}