{% extends 'main/homebase.html' %}
{% load static %}
      

{% block content %}

 <section class="ps-section--account ps-checkout">

    

  	<div class="ps-page--comming-soon">
        <div class="container">
        	{% for item in theorys %}
            <div class="ps-page__header">
                <h5>Question:</h5><br> <p>{{ item.question }} :</p>
                <h5>Answer:</h5> <br> <p>{{ item.answer }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



{% endblock %}
